# Task 1 - Python Basics, NumPy, Pandas, and Matplotlib
## Submitted by:Ishanvi Kaushik
### Description:
This notebook contains solutions to the Python, NumPy, Pandas, and Matplotlib practice questions as per the given task.

# Python basic practice

In [4]:
a_b="hello" # string
#f-string to use string variables with text
print(f"Greetings {a_b}")

Greetings hello

In [6]:
#integers
age=25
print(f"you are {age} years old")

you are 25 years old

In [12]:
# Boolean
like= True
print(f" you like me :{like}")
if like:
    print("yay")
else:
    print("noo")

 you like me :True
yay

In [14]:
import math
a= float(input("enter side A:"))
b=float(input("enter side B:"))
c=math.sqrt(pow(a,2)+pow(b,2))
print(f"{c} is the hypotenuse")

enter side A: 3
enter side B: 4

5.0 is the hypotenuse

In [13]:
import math
x=4
print(math.pi)
math.e
result= math.sqrt(x)
print(f"{result} is this")
math.ceil(x)

math.floor(x)

3.141592653589793
2.0 is this

4

In [15]:
response=input("would you like to go out(Y/N)?:")
if response=="Y":
    print("then we will")
else:
    print("then stay at home")

would you like to go out(Y/N)?: Y

then we will

In [19]:
#Weight Program
weight= float(input("enter you weight"))
unit=input("Kilograms or Pounds?(K or L):")
if unit =="K":
    weight *=2.205
    unit="Kgs"
    print(f"{round(weight,2)}{unit} is the weight")
elif unit=="L":
    weight /=2.205
    unit ="Lbs"
    print(f"{round(weight,2)}{unit} is the weight")
else:
    print(f"{unit} is not valid")

enter you weight 55
Kilograms or Pounds?(K or L): K

121.28Kgs is the weight

In [24]:
#pandas
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64

In [26]:
#Basic data exploration - Pandas
import pandas as pd
data=pd.read_csv('data.csv')
print(data)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [29]:
#Ans1
import pandas as pd
data=pd.read_csv('data.csv')
data.head()

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0

In [37]:
#ans2

new=data.dropna()
print(new.to_string())
data.isnull().sum()

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [38]:
#ans3
data.dtypes

Duration      int64
Date         object
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

In [45]:
#ans4
summary_statistics=data.describe()
summary_statistics["median"]=data.median(numeric_only=True)
summary_statistics

         Duration       Pulse    Maxpulse    Calories  median
count   32.000000   32.000000   32.000000   30.000000     NaN
mean    68.437500  103.500000  128.500000  304.680000     NaN
std     70.039591    7.832933   12.998759   66.003779     NaN
min     30.000000   90.000000  101.000000  195.100000     NaN
25%     60.000000  100.000000  120.000000  250.700000     NaN
50%     60.000000  102.500000  127.500000  291.200000     NaN
75%     60.000000  106.500000  132.250000  343.975000     NaN
max    450.000000  130.000000  175.000000  479.000000     NaN

In [53]:
#ans5
len(data["Duration"].unique())

4

In [56]:
#Data Cleaning-pandas and numpy
#ans1
import numpy as np
x=data["Calories"].mean()
data["Calories"].fillna(x, inplace=True)
print(data.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130    409.10
1         60  '2020/12/02'    117       145    479.00
2         60  '2020/12/03'    103       135    340.00
3         45  '2020/12/04'    109       175    282.40
4         45  '2020/12/05'    117       148    406.00
5         60  '2020/12/06'    102       127    300.00
6         60  '2020/12/07'    110       136    374.00
7        450  '2020/12/08'    104       134    253.30
8         30  '2020/12/09'    109       133    195.10
9         60  '2020/12/10'     98       124    269.00
10        60  '2020/12/11'    103       147    329.30
11        60  '2020/12/12'    100       120    250.70
12        60  '2020/12/12'    100       120    250.70
13        60  '2020/12/13'    106       128    345.30
14        60  '2020/12/14'    104       132    379.30
15        60  '2020/12/15'     98       123    275.00
16        60  '2020/12/16'     98       120    215.20
17        60  '2020/12/17'    100       120    300.00
18        45  '2020/12/18'     90       112    304.68
19        60  '2020/12/19'    103       123    323.00
20        45  '2020/12/20'     97       125    243.00
21        60  '2020/12/21'    108       131    364.20
22        45           NaN    100       119    282.00
23        60  '2020/12/23'    130       101    300.00
24        45  '2020/12/24'    105       132    246.00
25        60  '2020/12/25'    102       126    334.50
26        60      20201226    100       120    250.00
27        60  '2020/12/27'     92       118    241.00
28        60  '2020/12/28'    103       132    304.68
29        60  '2020/12/29'    100       132    280.00
30        60  '2020/12/30'    102       129    380.30
31        60  '2020/12/31'     92       115    243.00